
    body{
            background-color: black;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
        }
    h1,a{
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        }