@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    background-color: lightblue;
}

header {
    background-color: blue;
    margin: auto;
}

header h1 {
    text-align: center;
    text-shadow: 1px 1px 1px black;
    color: white;
    padding: 10px;
    font-variant: small-caps;
    font-size: 4em;
}

i#burguer {
    background-color: rgba(0, 0, 0, 0.715);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

i#burguer:hover {
    background-color: white;
    color: rgba(0, 0, 0, 0.715);
}

header menu {
    display: none;
}

header menu li {
    list-style-type: none;
}

header menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: darkblue;
    color: white;
    border-top: 2px solid lightblue;
}

header menu a:hover {
background-color: rgb(0, 0, 208);
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.391);
}

main article h2 {
    text-align: center;
    padding-bottom: 20px;
}

main article p {
    text-align: justify;
    text-indent: 20px;
    margin-bottom: 20px;
}